:root {
    --back: linear-gradient(rgb(13, 13, 37), black) 
}
footer{
    background-color: black ;
    color: goldenrod;
    width: 100%;
    height: fit-content;
    padding: 10px;
    position: static;
    font-family: monospace;
    text-align: center;
   
}
h3 {
   
    font-size: 30px;
    margin-top: 10px;

}
.line {
    width: 100%;
    height: 0;
    border: 1px goldenrod solid;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.fa {
    padding: 10px;
    font-size: 20px;
}
a {
    display: block;
    color: goldenrod;
    text-decoration: none;
}
