:root {
    --header: lightgreen;
    --top: lightgreen;
    --button: rgb(46, 131, 46);
    --tags: linear-gradient(to right, darkred, red);
    --background: linear-gradient( rgb(128, 128, 128, 50%), rgb(0, 0, 0, 80%));
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    background: teal;
}
header {
    width: 100%;
    height:auto;
    margin-top: 15px;
    box-shadow: 0 0 1rem black;
    background: transparent;
}
#icon {
    float: right;
    margin-right: 5px;
    font-size: 30px;
    cursor: pointer;
}
#icon2 {
    float: left;
    margin-left: 5px;
    font-size: 30px;
    cursor: pointer;
}
#links {
    text-align: center;
    text-align: center;
    height: 0;
    width: 100%;
    background-color: transparent;
    padding-top: 20px;
    position: relative;
    transition: 0.3s;
    overflow: hidden
    
}
#links a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: monospace;
    text-transform: uppercase;
    display: block;
    background-color: rgb(0, 0, 0, 50%);
    margin-top: 6px;
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    border: 1px solid black;
}
#links a:hover, #links #active {
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
}
#link {
    display: none;
}
#the {
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}
#the p {
    display: inline;
}
.father {
    background: url("images/s2.png");
    background-attachment: fixed;
    background-size: contain;
    box-shadow: 0 0 5rem black;
    border-radius: 10px;
    width: 100%;
    height: auto;
    animation-name: innit;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
@keyframes innit {
    0%{background: url("images/s1.png");
        background-attachment: fixed;
        background-size: contain;}
    25%{background: url("images/s2.png");
        background-attachment: fixed;
        background-size: contain;}
    50%{background: url("images/s3.png");
        background-attachment: fixed;
        background-size: contain;}
    75%{background: url("images/s4.png");
        background-attachment: fixed;
        background-size: contain;}   
    100%{background: url("images/s5.png");
        background-attachment: fixed;
        background-size: contain;}
}
.top {
    margin-top: -20px;
    width: 100%;
    height: auto;
    background: linear-gradient( rgb(128, 128, 128, 50%), rgb(0, 0, 0, 80%));
    text-align: center;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 50px;
}
#find {
    margin-top: 40px;
}
.search{
    width: 92%;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.search label{
    background-color: gray;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    color: white;
}
#search-button {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}
.categories {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: transparent;
    margin-top: -20px;
}
.categories ul {
    list-style-type:none ;
    margin-left: 0px;
    padding: 5px;
}
.categories ul li {
    margin-left: 0px;
    padding: 6px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.329);
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
}
.categories a {
    color: white;
    padding: 6px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 17px;
}
.categories ul :hover {
    background-color: white;
    color: black;
}
.categories a:hover {
    color: black;
}
.imgs{
    width: 700px;
    height: 500px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 10%;
    margin-bottom: 100px;
    border-radius: 9px;
}
.slides{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.slides img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.nav {
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%)
}
.bar{
    width: 50px;
    height: 14px;
    border: 3px solid wheat;
    display: inline-block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    transition: 0.5s;
}
.bar:hover{
    background-color: wheat;
    cursor: pointer;
}
input[name = "r"]{
    display: nne;
}
#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -100%;
}
#show{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(230, 230, 250, 50%);
    display: none;
    
}
#ans{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: teal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.425);
    align-items: center;
    display: block;
}

.anss {
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 70px;
    font-size: 22px;
}
.anss a{
    text-decoration: none;
    max-height: auto;
    width: auto;
    background-color: lavender;
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    line-height: normal;
    color: black;
    border-radius: 5px;
}
.anss a:hover{
    box-shadow: 0 0 0.5rem black;
    opacity: 0.8;
}
.yes {
    margin-left: 80px;
    float: left;
}
.no {
    margin-right: 80px;
    float: right;
}

.not {
    background: var(--tags);
    padding: 7px;
    color:white;
    font-size: 15px;
    font-family: monospace;
    word-spacing: 5px;
    height: auto;
    width: calc(100%);
    text-align: center;
    text-transform: uppercase;
}
.pics {
    position: relative;
    padding: 0%;
    margin: 0%;
    background-color: transparent;
    display: flex;
    height: 280px;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
    background: linear-gradient( rgb(128, 128, 128, 50%), rgb(0, 0, 0, 80%));
}

.pics img{
    width: 100%;
    height: 100%;
}
.pics .lab {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 210px;
    min-width: 78%;
    max-width: 78%;
    overflow: hidden;
    padding: 1%;
    border-radius: 16px;
    transition: 5s;
}
@media (min-width: 600px) {
.pics {
    height: 330px
}
    .pics .lab{
        height: 260px;
    }
}
@media (min-width: 800px) {
    .pics {
        height: 360px
    }
        .pics .lab{
            height: 290px;
        }
    }
#no {
    transition: .5s;
    min-height: 0;
    min-width: 0;
    margin-left: -67%;
}
.yyy{
    width: 95%;
    align-content: center;
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.pics input{
    display: none;
}
.fin{
    width: 9.5%;
    height: 15px;
    border: 2px solid gray;
    margin-left: 6px;
    border-radius: 9px;
    
}
.fin:hover {
    background:linear-gradient( rgb(255, 255, 255, 50%), rgb(128, 128, 128, 80%));
}

#r1:checked ~ #no {
    margin-left: 0;
}
#r2:checked ~ #no {
    margin-left: -67%;
}
#r3:checked ~ #no {
    margin-left: -145%;
}
#r4:checked ~ #no {
    margin-left: -223%;
}
#r5:checked ~ #no {
    margin-left: -301%;
}
#r6:checked ~ #no {
    margin-left: -379%;
}
#r7:checked ~ #no {
    margin-left: -457%;
}
#r8:checked ~ #no {
    margin-left: -535%;
}
#r9:checked ~ #no {
    margin-left: -613%;
}
#r10:checked ~ #no {
    margin-left: -691%;
}
.nftt {
    display: block;
    width: 100%;
    background-color: transparent;
    color: white;
    overflow: hidden;
    display: block;
    padding: 10px;
    font-family: sans-serif;
    animation-name: noti;
    animation-duration: 10s;
    background-color: black;
}
.nft {
    white-space: nowrap;
    width: 908px;
    margin-left: 120%;
    font-size: 20px;
    display: block;
}
.nftd{
    display: none;
}
@keyframes noti {
    0%{height: 0; padding: 0;}
    21%{height: auto; padding: 10px;}
    50%{background-color: black;}
    100%{background-color: black;}
}

@media (max-width: 900px){
    
    
    #ans{
        max-width: 300px;
        max-height: 150px;
        min-width: 200px;
        min-height: 100px;
    }
    .anss{
        font-size: 15px;
    }
    .anss a{
        font-size: 15px;
        box-shadow: 0 0 0.6rem black;
    }
    .yes {
        margin-left: 60px;
        float: left;
    }
    .no {
        margin-right: 60px;
        float: right;
    }
    
    #ff-account{
        height: 100%;
        width: 60%;
        position: relative;
        left: 0;
        top: 0;
        background: lavender;
        box-shadow: 0 0 5.5rem black;
        padding: 15px;
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        
        margin-left: 0%;
    }
    #account {
        height: 100%;
        min-width: 100%;
        overflow-y: auto;
    }
    #user-pic{
        height: 100px;
        width: 100px;
        position: relative;
        left: 50%;
        top: 0;
        background-color: gray;
        transform: translateX(-50%);
        border-radius: 50%;
        margin-bottom: 10px;
    }
    #user-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 40px;
    }
    #account a{
        text-decoration: none;
        color: black;
        display: block;
        padding: 20px;
        margin-bottom: 10px;
        text-transform: capitalize;
        overflow-y: auto;
        background-color: rgba(128, 128, 128, 0.226);
        border-radius: 4px;
    }
    #account a:hover{
        background-color: rgba(128, 128, 128, 0.329);
    }
    #name{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 5px;
        font-weight: bold;
        font-size: 20px;
    }
    #close-nav{
        float: right;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
    }
    #space-account{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        margin-left: -100%;
        transition: 0.5s;
    }
    .top-sales{
        margin-top: 10px;
        width: 100%;
        height: auto;
        background: linear-gradient( rgb(128, 128, 128, 50%), rgb(0, 0, 0, 80%));
        padding-bottom: 15px;
        
    }
    .sales {
        background-color: white; 
        padding: 0;   
        height: 150px;
        width: 30%;
        margin-right: -4px;
        margin-bottom: -4px;
        margin-left: 2.5%;
        margin-top: 15px;
        display: inline-block;
        border-radius: 6px;
        overflow: hidden;
    }
    .sales span {
        position: relative;
        top: -98%;
        left: 2px;
        background-color: teal;
        padding: 6px;
        color: white;
        font-size: 20px;
        border-radius: 5px;
       
    }
    #tip {
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 5px;
        background: var(--tags);
        width: calc(100%);
        font-weight: bold;
        font-family: monospace;
        font-size: 14px;
    }
    .sales img {
        width: 100%;
        height: 100%;
    }
    
    #star{
        color: gold;
        font-size: 20px;
    }
    #twoo{
        float: right;
    }
    .cat {
        margin-top: 0px;
        width: 100%;
        height: auto;
        background: brown;
        display: flex;
        overflow-x: auto;
        color: white;
    }
    .catss {
        min-width: 70px;
        height: auto;
        margin: 10px;
        text-align: center;
        text-transform: capitalize;
        padding: 0;
    }
    .cats{
        margin-top: 25px;
        border-radius: 20%;
        background-color: white;
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .catss label {
        padding: 0;
        font-size: 12px;
    }
    .cat p {
        position: absolute;
        width: 100%;
        display: block;
        padding: 5px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .cats img {
        width: 100%;
        height: 100%;
        border-radius: 20%;
    }


    #prec {
        position: absolute;
        
        color: white;
    }
    .recommended, .bestselling {
        font-family: sans-serif;
        display: flex;
        width: 100%;
        min-height: 280px;
        max-height: 300px;
        background: rgba(0, 0, 128, 0.37);
        padding: 8px;
        overflow-x: auto;
        margin: 0;
        border-radius: 6px;
    }
    
    .rec, .best {
        margin-top: 30px;
        background-color: white; 
        border-radius: 10px;
        min-width: 200px;
        padding: 7px;
        font-size: 15px;
        margin-right: 8px;
    }
    .rec img, .best img {
        height: 130px;
        width: 100%;
        overflow: hidden;
    }
    .rec span, .best span {
        display: block;
    }
    .purchase {
        padding-top: 10px;
    
    }
    span .amount {
        display: inline-block;
        margin-top: 5px;
    }
    .add {
        background: orangered;
        color: white;
        float: right;
        font-size: 12px;
        border-radius: 3px;
        padding: 7px;
        border:none ;
        width: 80px;
    }
    .details .name {
        white-space: nowrap;
        overflow-x: hidden;
    }
    
}